@charset "windows-1252";

body {
  color: #fe883b;
  margin:0;
}
a  {
  color: #fe883b;
  font-weight:bold;
  text-decoration:none;
}
div#menu a  {
  font-weight:bold;
  text-decoration:none;
  text-transform: uppercase;
}
div#download a  {
  font-weight:bold;
  text-decoration:none;
  text-transform: uppercase;
}
p  {
  margin:25% 0 5% 0;
}